.header-image-cont {
  position: relative;
  margin-top: 4em;
  height: 50vh;
  font-family: "Lora", serif;
}
.header-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header-titles {
  width: 100%;
  text-align: center;
  position: absolute;
  display: flex;
  flex-direction: column;
  margin-top: 5em;
}
.headerTitleOne {
  font-size: 2em;
  margin: 0 0 1em 0;
  border-width: 5%;
  color: aliceblue;
}
.headerTitleTwo {
  font-size: 4em;
  top: 20%;
  color: aliceblue;
}
.header-events-cont{
    background-color: #0a192b;
    padding-bottom: 2em;
}
.header-events-title{
    width: 100%;
    text-align: center;
    color: aliceblue;
    padding-top: 1em;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 2em;
    margin-bottom: 1em;
}
.header-event-col-1{
    display: flex;
    justify-content: center;
    border-right: 2px solid #4D4FDD;
}
.header-event-col-2{
    display: flex;
    justify-content: center;
    border-right: 2px solid #4D4FDD;
}
.header-event-col-3{
    display: flex;
    justify-content: center;
}
.header-event-details{
    display: flex;
    flex-direction: column;
}
.header-event-date{
color: white;
font-weight: 400;
text-align: center;
margin-top: 1.5em;
}
.header-event-desc{
    font-family: "Josefin Sans", sans-serif;
    margin-top: 10px;
    color: white;
    font-size: 1.5em;
    font-weight: 700;
    text-align: center;
}