.top{
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    background-color: #0A192C;
    display: flex;
    align-items: center;
    font-family: 'Josefin Sans', sans-serif;
    z-index: 999;
}
.topLeft{
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}
.site-logo{
    height: 2em;
}
.topCenter{
    flex: 8;
}
.topRight{
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}
.topProfilePic{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.topIcons{
    font-size: 20px;
    margin: 10px;
    color: #444;
    cursor: pointer;
}

.topList{
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style: none;
}
.topListItem{
    margin: 20px;
    font-size: 13px;
    font-weight: 400;
    cursor: pointer;
}

.topSearchIcon{
    font-size: 18px;
    color: white;
    cursor: pointer;
    margin-left: 50px;
}
.topMenuLink{
    text-decoration: none;
    color: white;
}
.topMenuLink:hover{
    color: #ef534f;
    text-decoration: underline;
}