.footerContainer{
    background-color: #0a192b;
    color: white;
    padding: 30px 0;
    margin-top: 2em;
    padding-left: 10em;
}
.footer_heading{
    font-weight: bold;
    padding-bottom: "5px";
}