body {
  padding: 0px;
  margin: 0px;
}
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Lora:ital,wght@1,400;1,500;1,600;1,700&family=Roboto:wght@300&family=Varela&family=Varela+Round&display=swap");

*{
  margin: 0px;
}


/* HomepageCSS
HomepageCSS
HomepageCSS */
