body {
  margin: 0;
  padding: 0;
}
html,
body {
  width: auto !important;
  overflow-x: hidden !important;
}
.justin-sec-title-cont {
  /* width: 100%; */
  display: flex;
  align-items: center;
  margin: 2em 0em 2em 1em;
  /* color: #0a192c; */
  color: #0e6efd;
  /* font-family: "Josefin Sans", sans-serif; */
}
.justin-sec-title-title {
  font-weight: 700;
  font-size: 1.5em;
  border-bottom: 5px solid #ef5450;
}
.justin-sec-title-title-hr-line-cont {
  padding-left: 1em;
}
.justin-sec-title-title-hr-line {
  border: 5px solid black;
  opacity: 1;
}

.just-in-top-cont {
  width: 100%;
  padding-left: 5em;
  padding-right: 5em;
  padding-bottom: 2em;
}
.justin-column-1-top {
  width: 100%;
  border-radius: 10px;
  position: relative;
  /* background-color: #cccccc; */
}
.justin-column-1-top-img {
  border-radius: 10px;
  height: 400px;
  width: 100%;
  object-fit: cover;
}
.justin-column-1-post-details {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-left: 2em;
  margin-right: 2em;
  color: white;
  bottom: 1em;
  background-color: rgb(0, 0, 0, 0.8);
  padding: 0.5em;
}
.justin-column-1-top-title {
  font-family: "Josefin Sans", sans-serif;
  font-size: 26px;
  font-weight: 700;
}
.justin-column-1-top-link {
  color: white;
  text-decoration: none;
}
.justin-column-1-top-link:hover {
  color: #0e6efd;
}
.justin-column-1-top-details {
  font-family: "Josefin Sans", sans-serif;
  margin-top: 1em;
}

.justin-column-2-top {
  height: 400px;
  border-radius: 10px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}
.justin-column-2-top:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.justin-column-2-img {
  object-fit: cover;
  height: 200px;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.justin-column-2-category {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
}

.justin-column-2-post-details-cont {
  padding: 1em;
}
.justin-column-2-category {
  font-family: "Josefin Sans", sans-serif;
}
.justin-column-2-title {
  font-family: "Josefin Sans", sans-serif;
  font-size: 19px;
  font-weight: 700;
  margin-top: 1em;
}
.justin-column-2-top-link {
  color: #0b192a;
  text-decoration: none;
}
.justin-column-2-top-link:hover {
  color: #0e6efd;
}
.justin-column-2-post-details {
  font-family: "Josefin Sans", sans-serif;
  margin-top: 1em;
}

.JustInBootom-cont {
  width: 100%;
  padding-top: 0em;
  padding-left: 5em;
  padding-right: 5em;
}

.JustInBottom-col-1-cont {
  width: 100%;
  height: 300px;
  padding-right: 0em;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.justin-column-2-top-img-cont {
  width: 100%;
}
.JustInBottom-col-1-cont:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.JustInBootom-col-1 {
  width: 100%;
}
.JustInBottom-col-1-img {
  height: 150px;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.JustInBottom-col-1-post-details {
  padding: 1em;
  font-family: "Josefin Sans", sans-serif;
}
.JustInBottom-column-1-title {
  font-size: 17px;
  font-weight: 700;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.justinBottom-col-1-link {
  color: #0b192a;
  text-decoration: none;
}
.justinBottom-col-1-link:hover {
  color: #0e6efd;
}
.linkTags {
  color: black;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .just-in-top-cont {
    padding-left: 1em;
    padding-right: 1em;
  }
  .justin-column-1-top-img {
    height: 200px;
  }
  .justin-column-1-top-title {
    font-size: 20px;
  }
  .justin-column-1-top-details {
    font-size: 14px;
  }
  .justin-column-2-top {
    height: auto;
    box-shadow: none;
    border-top: 1px solid #555;
    border-radius: 0px;
  }
  .justin-column-2-top:hover {
    box-shadow: none;
  }
  .justin-column-2-img {
    display: none;
  }
  .justin-column-2-title {
    margin-top: 0.5em;
  }

  .JustInBootom-cont {
    width: 100%;
    padding: 0em;
  }
  .JustInBottom-col-1-cont {
    width: 100%;
    height: auto;
    border-top: 1px solid #555;
    box-shadow: none;
    border-radius: 0px;
  }
  .JustInBottom-col-1-cont:hover {
    box-shadow: none;
  }
  .JustInBottom-col-1-img {
    display: none;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 767px) {
  .just-in-top-cont {
    padding-left: 1em;
    padding-right: 1em;
  }
  .justin-column-1-top-img {
    height: 200px;
  }
  .justin-column-1-top-title {
    font-size: 20px;
  }
  .justin-column-1-top-details {
    font-size: 14px;
  }
  .justin-column-2-top {
    height: auto;
    box-shadow: none;
    border-top: 1px solid #555;
    border-radius: 0px;
  }
  .justin-column-2-top:hover {
    box-shadow: none;
  }
  .justin-column-2-img {
    display: none;
  }
  .justin-column-2-title {
    margin-top: 0.5em;
  }

  .JustInBootom-cont {
    width: 100%;
    padding: 0em;
  }
  .JustInBottom-col-1-cont {
    width: 100%;
    height: auto;
    border-top: 1px solid #555;
    box-shadow: none;
    border-radius: 0px;
  }
  .JustInBottom-col-1-cont:hover {
    box-shadow: none;
  }
  .JustInBottom-col-1-img {
    display: none;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .just-in-top-cont {
    padding-left: 1em;
    padding-right: 1em;
  }
  .justin-column-1-top-img {
    height: 200px;
  }
  .justin-column-1-top-title {
    font-size: 20px;
  }
  .justin-column-1-top-details {
    font-size: 14px;
  }
  .justin-column-2-top {
    height: auto;
    box-shadow: none;
    border-top: 1px solid #555;
    border-radius: 0px;
  }
  .justin-column-2-top:hover {
    box-shadow: none;
  }
  .justin-column-2-img {
    display: none;
  }
  .justin-column-2-title {
    margin-top: 0.5em;
  }

  .JustInBootom-cont {
    width: 100%;
    padding: 0em;
  }
  .JustInBottom-col-1-cont {
    width: 100%;
    height: auto;
    border-top: 1px solid #555;
    box-shadow: none;
    border-radius: 0px;
  }
  .JustInBottom-col-1-cont:hover {
    box-shadow: none;
  }
  .JustInBottom-col-1-img {
    display: none;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .just-in-top-cont {
    padding-left: 1em;
    padding-right: 1em;
  }
  .justin-column-1-top-img {
    height: 200px;
  }
  .justin-column-1-top-title {
    font-size: 20px;
  }
  .justin-column-1-top-details {
    font-size: 14px;
  }
  .justin-column-2-top {
    height: auto;
    box-shadow: none;
    border-top: 1px solid #555;
    border-radius: 0px;
  }
  .justin-column-2-top:hover {
    box-shadow: none;
  }
  .justin-column-2-img {
    display: none;
  }
  .justin-column-2-title {
    margin-top: 0.5em;
  }

  .JustInBootom-cont {
    width: 100%;
    padding: 0em;
  }
  .JustInBottom-col-1-cont {
    width: 100%;
    height: auto;
    border-top: 1px solid #555;
    box-shadow: none;
    border-radius: 0px;
  }
  .JustInBottom-col-1-cont:hover {
    box-shadow: none;
  }
  .JustInBottom-col-1-img {
    display: none;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
